.post-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
}

.post-item:last-child {
    border-bottom: none; /* Remove a linha do último post */
}

.post-date {
    flex-shrink: 0; /* Impede que a data encolha */
    font-size: 0.9em;
    color: #666;
    margin-right: 20px;
}

.post-title h3 {
    font-size: 1.2em;
}

.post-title {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.post-title:hover {
    color: #0056b3;
    text-decoration: underline;
}

.navigation ul li a.active {
    background-color: #555;
    font-weight: bold;
}